html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
}

iframe {border: 10px solid white; border-radius: 4px}

ul {
    list-style-type: none;
}

a {
    color: #749acf;
    text-decoration: none;
}

a:visited {
    color: #547096;
}

img {vertical-align: top;}

.self-center {
    right: 0;
    left: 0;
    margin: auto;
}

.background {
    background-image: url('https://media.architecturaldigest.com/photos/63f69b65782302990922604c/master/w_1600%2Cc_limit/EEAAO_12827.jpg');
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    background-position: center;
    filter: brightness(50%);
    z-index: -1;
}

.navbar {
    padding: 0 20px 10px 20px;
    z-index: 10;
    position: fixed;
    overflow: hidden;
    width: 100%;
    box-shadow: 
}

    .navbar-title, .navbar a {
        vertical-align: top;
    }

    .navbar-title {
        /* padding: 20px; */
        font-family: 'Ribeye Marrow', cursive;
        font-size: 2rem;
        font-weight: bold;
        padding: 2px 5px;
        color: white;
        vertical-align: bottom;
        /* margin-top: -5px; */
    }


    .navbar i {
        font-family: 'Noto Color Emoji', sans-serif;
        font-style: normal;
        font-size: 2.8rem;
        margin-right: 12px;
    }

    .navbar div {
        float: right;
        margin-right: 40px;
    }

        .navbar a {
            font-family: 'Ysabeau', sans-serif;
            color: white;
            text-decoration: none;
            font-size: 1.4rem;
            padding: 0 20px;
            height: 100%;
            top: 0;
            transition: 0.2s;
            float: left;
        }

            .navbar a::before {
                display:block;
                content: '';
                border-top: 4px solid white;
                transform: scale(0);
                transition: transform 0.3s ease-in-out;
                transform-origin: top;
                margin-bottom: -4px;
            }


                .navbar a:hover::before {
                    transform: scale(1.1);
                }

                .navbar a:active::before {
                    transform: scale(1.3, 1.1);
                }


:root {
    /* title's colours */
    --title1: hsl(30, 33%, 31%);
    --title2: hsl(30, 14%, 22%);
    --title3: hsl(30, 44%, 89%);
    /* colour palette */
    /* --one: hsla(203, 94%, 20%);
    --two: hsla(187, 47%, 29%);
    --three: hsla(139, 12%, 54%);
    --four: hsla(61, 26%, 61%);
    --five: hsla(40, 98%, 79%); */
    --one: hsl(28, 25%, 76%);
    --one-dark: hsl(28, 25%, 71%);
    --two: hsl(40, 33%, 68%);
    --two-dark: hsl(40, 33%, 63%);
    --three: hsl(26, 20%, 52%);
    --three-dark: hsl(26, 20%, 47%);
    --four: hsl(29, 19%, 32%);
    --four-dark: hsl(29, 19%, 27%);
    --five: hsl(22, 13%, 16%);
    --five-dark: hsl(22, 13%, 11%);
}

section, .parallax-cntnr {
    max-width: 100%;
}

section {
    padding-top: 25px
}

section h1 {
    font-family: 'Ranchers', cursive;
    color: transparent;
    /* background-color: hsl(0, 0%, 96%); */
    text-shadow: 2px 2px 0px rgb(255, 246, 239);
    -webkit-background-clip: text;
       -moz-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    -webkit-text-stroke: 0.5px black;
    padding: 15px;
    width: 100%;
    text-align: center;
    letter-spacing: 4px;
    border: 1.5px solid black;
    z-index: 1;
}

.content {
    padding: 50px;
}

.content p, .content ul {
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-family: 'Spectral', serif;
    font-size: 1.1rem;
    padding: 5px 8px;
    width: 500px;
}

.content img {
    display: inline-block;
    border: 8px solid white;
    box-shadow: 3px 3px 4px 3px rgba(0,0,0,0.3);
}

.header {
    /* height: fit-content; */
    height: 620px;
    padding: 0;
    overflow: hidden;
    margin-bottom: -71px;
}

.parallax-cntnr {
    height: 100%;
    position: relative;
    padding: 70px 0px 0px 40px;
}

.parallax-cntnr h1, .parallax-cntnr > .title-shadow {
    /* position: absolute; */
    left: auto;
    border-radius: 5px 7px;
}

.parallax-cntnr h1 { /* title */
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Grandstander', cursive;
    font-size: 7.8rem;
    top: 220px;
    right: 80px;
    width: fit-content;
    letter-spacing: 1px;
    color: var(--title3);
    -webkit-text-stroke: 1.6px black;
    /* background: hsl(209, 24%, 44%); */
    background: var(--one);
    padding: 8px 10px 0px 10px;
    text-shadow: 0.5px 0.5px 0px hsl(30, 44%, 84%),
    1px 1px 0px hsl(30, 44%, 84%),
    1.5px 1.5px 0px hsl(30, 44%, 84%),
    2px 2px 0px hsl(30, 44%, 84%),
    2.5px 2.5px 0px hsl(30, 44%, 84%),
    3px 3px 0px hsl(30, 44%, 84%),
    3.5px 3.5px 0px hsl(30, 44%, 84%),
    4px 4px 0px hsl(30, 44%, 84%),
    4.5px 4.5px 0px hsl(30, 44%, 84%),
    5px 5px 0px hsl(30, 44%, 84%),
    6px 6px 0px black,
    7px 7px 1px rgba(0,0,0,0.4);
    box-shadow: 20px 20px 0px 0px var(--one-dark),
                21px 21px 0px 0px black;
    overflow: visible;
}

.parallax-cntnr h1 i {
    flex: 1 1 100%;
    font-style: normal;
    transition: 1.2s;
}

.parallax-cntnr h1 i:hover {
    /* position: absolute; */
    margin-top: -25px;
    filter: drop-shadow(1.5px 1.5px 4px rgba(0,0,0,0.4))
    drop-shadow(2px 4px 2px rgba(0,0,0,0.3));
    transition: 0.5s;
}


.parallax-cntnr h1 .brown {
    color: var(--title1);
    text-shadow: 0.5px 0.5px 0px hsl(30, 33%, 26%),
    1px 1px 0px hsl(30, 33%, 26%),
    1.5px 1.5px 0px hsl(30, 33%, 26%),
    2px 2px 0px hsl(30, 33%, 26%),
    2.5px 2.5px 0px hsl(30, 33%, 26%),
    3px 3px 0px hsl(30, 33%, 26%),
    3.5px 3.5px 0px hsl(30, 33%, 26%),
    4px 4px 0px hsl(30, 33%, 26%),
    4.5px 4.5px 0px hsl(30, 33%, 26%),
    5px 5px 0px hsl(30, 33%, 26%),
    6px 6px 0px black,
    7px 7px 1px rgba(0,0,0,0.4);
}

.parallax-cntnr h1 .black {
    color: var(--title2);
    text-shadow: 0.5px 0.5px 0px hsl(30, 14%, 17%),
    1px 1px 0px hsl(30, 14%, 17%),
    1.5px 1.5px 0px hsl(30, 14%, 17%),
    2px 2px 0px hsl(30, 14%, 17%),
    2.5px 2.5px 0px hsl(30, 14%, 17%),
    3px 3px 0px hsl(30, 14%, 17%),
    3.5px 3.5px 0px hsl(30, 14%, 17%),
    4px 4px 0px hsl(30, 14%, 17%),
    4.5px 4.5px 0px hsl(30, 14%, 17%),
    5px 5px 0px hsl(30, 14%, 17%),
    6px 6px 0px black,
    7px 7px 1px rgba(0,0,0,0.4);
}

.parallax-cntnr > .title-shadow {
    background: hsl(209, 24%, 39%);
    top: 138px;
    right: 82px;
    width: 728px;
    height: 120px;
}

.parallax-cntnr .pic-cntnr {
    /* display: inline-block; */
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 0;
    top: 60px;
    left: 50px;
}

.header .pic-cntnr .raccacoonie {
    filter: drop-shadow(30px -10px 0px white);
    /* mix-blend-mode: multiply;
    filter: brightness(120%); */
}

.section2 {
}

.section2 > .content p {
    vertical-align: top;
    width: 600px;
    background: var(--two);
    box-shadow: 5px 5px 0px 0px var(--two-dark),
    5.5px 5.5px 0px 0px black;
    color: #54431d;
}

.section2 h1 {
    background: var(--two-dark);
    box-shadow: 0 8px 0px 0px hsl(40, 33%, 58%),
                0 9.25px 0px 0px black;
}

img.poster {
    display: inline-block;
    margin-left: 80px;
    border: 4px inset rgb(99, 53, 13);
    outline: 5px outset rgb(134, 73, 19);
    border-radius: 3px
}

.section3 > .content p {
    background: var(--three);
    box-shadow: 5px 5px 0px 0px var(--three-dark),
                5.5px 5.5px 0px 0px black;
}


.section3 h1 {
    background: var(--three-dark);
    box-shadow: 0px 8px 0px 0px hsl(26, 20%, 42%),
                0 9.25px 0px 0px black;
}

.section3 .img-cntnr {
    display: inline-block;
    min-width: 500px;
    height: 200px;
    margin-left: 80px;
}

.section4 > .content ul {
    background: var(--four);
    box-shadow: 5px 5px 0px 0px var(--four-dark),
    5.5px 5.5px 0px 0px black;
    display: inline-block;
    margin-left: 50px;
}

.section4 h1 {
    background: var(--four-dark);
    box-shadow: 0px 8px 0px 0px hsl(29, 19%, 22%),
                0px 9.25px 0px 0px black;
}

.section4 img {
    transform: rotate(-1.5deg);
    margin: 30px 0 0 70px;
}

.footer {
    background: var(--five)
}

.footer > .content ul {
    box-shadow: 5px 5px 0px 0px var(--five-dark),
    5.5px 5.5px 0px 0px black;
    width: 90%;
}

.footer h1 {
    background: var(--five-dark);
    box-shadow: 0px 8px 0px 0px hsl(22, 13%, 6%),
                0 9.25px 0px 0px black;
}

.content {
    padding: 50px;
}

